#cursosList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 120px;
}

.cursos h2:first-child {
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
}

.cursos h2::after {
  content: "";
  display: block;
  width: 72px;
  height: 3px;
  border-radius: 4px;
  background: var(--cor-amarelo);
  position: absolute;
  top: 48px;
}

.curso {
  max-width: min-content;
  grid-template-areas: "image name";
  text-align: left;
}

.curso a {
  text-decoration: none;
  color: #111;
}

.curso h4 {
  grid-area: name;
  margin-bottom: 0px;
  font-size: 0.8rem;
}

.curso h4 {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}

.curso h4::before {
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  background: #ffbb22;
}

.curso a:hover h4::before {
  width: 12px;
  transition: all 0.3s;
}

.curso img {
  max-width: 200px;
  grid-area: image;
}

#searchWrapper {
  margin-bottom: 60px;
}

#searchWrapper label {
  display: block;
  margin-bottom: 4px;
}

#searchBar {
  background: var(--cor-cinza-ed);
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  width: 450px;
}

.curso-list h3 {
  font-size: 1.25rem;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.curso-list h3::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--cor-amarelo);
}

.curso {
  max-width: min-content;
}

.curso h4 {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}

.curso h4::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: var(--cor-amarelo);
}

.curso a:hover h4::before {
  width: 16px;
  transition: all 0.3s;
}

@media (max-width: 480px) {
  #cursosList {
    gap: 20px;
  }

  .cursos h2::after {
    top: 36px;
  }

  #searchWrapper {
    margin-bottom: 60px;
    margin-top: 28px;
  }

  #searchBar {
    width: 100%;
  }
  .curso h4 {
    place-items: center;
    grid-area: name;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .curso img {
    max-width: 160px;
    grid-area: image;
  }
}

@media (max-width: 380px) {
  .curso h4 {
    place-items: start;
    font-size: 0.6rem;
    line-height: 0.8rem;
  }

  .curso img {
    max-width: 130px;
    grid-area: image;
  }
}

@media (max-width: 330px) {
  .curso img {
    max-width: 110px;
    grid-area: image;
  }
}
