.cursos {
  margin-bottom: 120px;
}

.cursos h2:first-child {
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
}

.cursos h2::after {
  content: "";
  display: block;
  width: 72px;
  height: 3px;
  border-radius: 4px;
  background: var(--cor-amarelo);
  position: absolute;
  top: 36px;
}

.curso {
  max-width: min-content;
  grid-template-areas: "image name";
}

.curso:hover {
  filter: drop-shadow(0px 0px 2px var(--cor-amarelo));
}

.curso img {
  max-width: 260px;
  grid-area: image;
}

#searchWrapper {
  margin-bottom: 60px;
}

#searchWrapper label {
  display: block;
  margin-bottom: 8px;
}

#searchBar {
  background: var(--cor-cinza-ed);
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  width: 50%;
}

#cursosList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 40px;
}

.curso-list h3 {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.curso-list h3::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--cor-amarelo);
}

#cursosList a {
  font: 600 0.8rem/1.25rem "Poppins", sans-serif;
}

#cursosList a h4 {
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  background: var(--cor-cinza-ed);
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  transition: all 0.3s;
}

#cursosList a:hover h4 {
  background: var(--cor-amarelo);
}

@media (max-width: 800px) {
  .curso img {
    max-width: 260px;
    grid-area: image;
  }

  #searchBar {
    width: 100%;
  }
}

@media (max-width: 620px) {
  #cursosList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .curso img {
    max-width: 200px;
  }

  .curso h4 {
    font: 500 0.75rem/1.125rem "Poppins", sans-serif;
  }
}

@media (max-width: 470px) {
  #cursosList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .curso img {
    width: 180px;
  }
}

@media (max-width: 430px) {
  #cursosList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  #searchWrapper label {
    font: 500 1rem/1.5rem "Poppins", sans-serif;
  }

  .curso img {
    width: 160px;
  }
}

@media (max-width: 390px) {
  #cursosList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .curso img {
    max-width: 140px;
  }

  .curso h4 {
    font: 500 0.5625rem/0.84375rem "Poppins", sans-serif;
  }
}

@media (max-width: 350px) {
  #cursosList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .curso img {
    max-width: 120px;
  }
}
