html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: #fff;
  color: #111;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

p {
  margin-bottom: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img[src$=".jpg"],
img[src$=".png"] {
  border-radius: 4px 4px 0px 0px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0px 20px;

  margin: 0 auto;
}

.button-principal {
  display: inline-block;
  padding: 14px 28px;
  background: var(--cor-amarelo);
  background: linear-gradient(180deg, #ffbb00 0%, #ffa800 100%);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

.lista li {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
  align-items: center;
  position: relative;
}

.lista li::before{
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--cor-preto);
}

@media (max-width: 620px) {
  ::root {
    --width: 300;
    --height: 19;
  }
  body {
    background: #111;
  }

  .fundo-branco-home {
    background: #fff;
    border-radius: 20px 20px 20px 20px;
    border: 4px solid #111;
    margin-top: 100px;
  }

  .fundo-branco {
    background: #fff;
    border-radius: 20px 20px 20px 20px;
    border: 4px solid #111;
  }
}
