/* Quanto maior o valor depois de 't' (t1,t2,t3...), maior a fonte.*/

.poppins-t1 {
  font: 500 1rem/1.5rem "Poppins", sans-serif;
  /* Equivalente a 16px - medium*/
}

.poppins-t2 {
  font: 500 1.25rem/1.875rem "Poppins", sans-serif;
  /* Equivalente a 20px - medium */
}

.poppins-t2-semibold {
  font: 600 1.25rem/1.875rem "Poppins", sans-serif;
  /* Equivalente a 20px - semibold */
}

.poppins-t3 {
  font: 500 1.5rem/2.25rem "Poppins", sans-serif;
  letter-spacing: 1.5%;
  /* Equivalente a 24px - semibold */
}

.poppins-t4 {
  font: 600 2rem/2 "Poppins", sans-serif;
  letter-spacing: 1.5%;
  /* Equivalente a 32px - semibold */
}

.poppins-t5 {
  font: 600 3.25rem/4rem "Poppins", sans-serif;
  letter-spacing: 1.5%;
  /* Equivalente a 52px - semibold */
}

.poppins-t6 {
  font: 600 6rem/6rem "Poppins", sans-serif;
  letter-spacing: 1.5%;
  /* Equivalente a 96px - semibold */
}

.roboto-t1 {
  font: 400 1rem/1.5rem "Roboto", sans-serif;
  /* Equivalente a 16px - regular */
}

.roboto-t2 {
  font: 400 1.25rem/1.875rem "Roboto", sans-serif;
  /* Equivalente a 20px - regular */
}
